@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80')
    no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    /* calc(): 用于动态计算长度值 */
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    /* top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; */
    z-index: -1;
    /* blur(px):高斯模糊，类似毛玻璃的样式,，数值越大越模糊，不接受百分比值 */
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}